body {
    background: linear-gradient(180.61deg,
            #000000 25.16%,
            #04254f 80%,
            #409ecd 100%);
    background-repeat: no-repeat;
    background-size: cover;


}

h1 {
    display: none;
}

.hidden {
    display: none;
}

select,
option {
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 0 1em;
}

select {
    border: none;
    outline: none;
}


h2 {
    color: white;
}

main {
    padding: 0 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
}

.cabecalho__logo {
    display: flex;
    gap: 1em;
}

.cabecalho__logo img {
    width: 150px;
    height: 50px;
}

.material-symbols-outlined {
    color: white;
    font-size: 48px
}

.lista {
    list-style-type: none;
    margin: 1em 0;
    display: flex;
    
    gap: 1em;
}

.lista li img {
    width: 300px;
    height: 444px;
    transition: .5s;
}

.lista li img:hover {
    opacity: 0.6;
}

.pesquisa {

    min-height: 100vh;
}

@media screen and (max-width: 1600px) {
    main {
        padding: 0 3em;
        display: block;
    }
    
    .lista {
        overflow: hidden;
        overflow-x: scroll;
    }

    .lista li img {
        width: 200px;
        height: 296px;
    }

    .lista::-webkit-scrollbar {
        width: 10px;
      }
      
      .lista::-webkit-scrollbar-track {
        background: transparent;
      }
      
      .lista::-webkit-scrollbar-thumb {
        background-color: #ccc;    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: none;  /* creates padding around scroll thumb */
      }


}